body{
    margin: 0;
    background-color: #2b2b2b;
    font-family: Lato,Helvetica Neue,helvetica,sans-serif;
}

.navegacao{
    background: linear-gradient(to right, #2e2e2e, #5043fdb6);
    height: 957px;
    margin-top: -1%;
}

ul{
   display: flex;
}

li{
    list-style: none;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

footer{
    height: 200px;
    background-color: #201b37;
    margin-top: 180%;
    color: white;
}

.lista01{
    margin-top: 1%;
    font: 16px Lato,Helvetica Neue,helvetica,sans-serif;
    position: absolute;
    margin-left: 50%;
}

#txtBusca{
    margin-left: 38.5%;
    width: 350px;
    height: 20px;
    margin-top: 3%;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 2px solid transparent;
}

#btnBusca{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.corpo{
    border: 2px solid transparent;
    height: 200px;
    width: 350px;
    padding: 5px;
    float: left;
    margin: 1.5%;
    background-color: #353535;
    color: #ffffff;
    font-size: 20px;
}

.corpo:hover{
    border: 2px solid #ffffff;
    transition: 0.3s all;
}

#conteudo{
    position: relative;
    display: block;
    margin-top: 5%;
    margin-left: 5%;
}

.corpo-2{
    border: 2px solid transparent;
    height: 200px;
    width: 350px;
    padding: 5px;
    float: left;
    margin: 1.5%;
    background-color: #353535;
    color: #ffffff;
    font-size: 20px;
}

.corpo-2:hover{
    border: 2px solid #ffffff;
    transition: 0.3s all;
}

#conteudo-2{
    position: relative;
    display: block;
    margin-top:55%;
    margin-left: 5%;
}

.corpo-3{
    border: 2px solid transparent;
    height: 200px;
    width: 350px;
    padding: 5px;
    float: left;
    margin: 1.5%;
    background-color: #353535;
    color: #ffffff;
    font-size: 20px;
}

.corpo-3:hover{
    border: 2px solid #ffffff;
    transition: 0.3s all;
}

#conteudo-3{
    position: relative;
    display: block;
    margin-top: 105%;
    margin-left: 5%;
}

.logotipo{
    width: 10%;
    margin-left: -50%;
}

#conta{
    width: 2%;
    position: absolute;
    margin-left: 97%;
    margin-top: -8%;
    display: none;
}

.filtros{
    background-color: #ffffff;
    width: 100%;
    height: 30px;
    margin-top: -5%;
    position: absolute;
}

#filtros-02{
    margin-top: -0.5%;
    margin-left: 35%;
    position: absolute;
}

.nav-button{
    margin-top: -7.5%;
    position: absolute;
    margin-left: 1%;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
}

.icon-burguer{
    width: 32px;
}

#txt-menu{
    font-size: 20px;
    margin-left: -105%;
    display: flex;
}

.overlay{
    width: 0;
    height: 50%;
    background-color: white;
    position: fixed;
    overflow-x: hidden;
    z-index: 9;
    transition: 0.5s all;
    left: 0;
    top: 0;
    font-size: 50px;
    margin-left: 1.5%;
    margin-top: 2%;
    border: 2px solid transparent;
    border-radius: 15px;
}

#a-z{
    color: white;
    display: flex;
    position: absolute;
    margin-top: 7.8%;
    margin-left: 25%;
}

#porletra{
    padding: 10px;
    background-color: #201b37b4;
}

#lnc{
    color: white;
    margin-left: 40%;
    margin-top: -1%;
    position: absolute;
    font-size: xx-large;
}

#credit{
    margin-left: 50%;
    margin-top: 9%;
    position: absolute;
}

#animes{
    width: 130px;
    margin-top: 2%;
    margin-left: 4%;
    position: absolute;
}

#luffy-img{
    width: 200px;
    margin-top: 42.4%;
    margin-left: 89.5%;
}

.btn-gradient {

    width: auto;
    font-size: 1em;
    padding: 12px 25px;
    border: none;
    outline: none;
    background: #313131;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    position: absolute;
    margin-top: 24%;
    margin-left: 25%;
    text-decoration: none;
}

.btn-gradient::before {
 
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg, #e72100, #f36161, #eec647, #dfe404, #35e854, #32dfe9, #4a3df1, #e549f5, #ae07bf );
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
  text-decoration: none;
}

.btn-gradient:hover::before { opacity: 1; }

.btn-gradient::after {

  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #242424;
  left: 0;
  top: 0;
  border-radius: 50px;

}

@keyframes move {

  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }

}

.txt-premium{
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 40pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}